.container {
  // layout
  margin: 0 auto;
  max-width: rem-calc(1440);

  &--fluid {
    // layout
    max-width: unset;
  }

  @include breakpoint(laptop) {
    // layout
    max-width: rem-calc(1180);
  }

  @include breakpoint(tablet) {
    // layout
    margin: rem-calc(0 15);
    max-width: unset;
  }

  @include breakpoint(bigMobile) {
    // layout
    margin: rem-calc(0);
  }
}
