.about {
    // layout
    position: relative;
    padding-top: rem-calc(140);

    @include respond-below(tablet) {
        // layout
        padding-top: rem-calc(96);
        padding-bottom: rem-calc(96);
    }

    &__container {
        // layout
        @include respond-below(tablet) {
            // layout
            flex-direction: column-reverse;
        }
    }

    &__wrapper {
        // layout
        top: rem-calc(50);
        position: sticky;

        @include respond-below(tablet) {
            // layout
            margin-bottom: rem-calc(75);
        }
    }

    &__title {
        // layout
        top: rem-calc(50);
        left: 0;
        position: absolute;

        @include respond-below(laptop) {
            // layout
            left: rem-calc(20);
        }
    }

    &__subtitle {
        @include respond-below(smallMobile) {
            // typo
            font-size: rem-calc(36);
            
        }
    }

    &__image-wrap {
        // layout
        display: flex;
        justify-content: flex-end;
    }

    &__image {
        // layout
        width: 100%;
        max-width: rem-calc(530);
        object-fit: none;

        @include respond-below(laptop) {
            // layout
            max-width: rem-calc(380);
        }

        @include respond-below(tablet) {
            // layout
            max-height: rem-calc(225);
        }

        @include respond-below(smallMobile) {
            // layout
            max-width: rem-calc(200);
            max-height: rem-calc(150);
            object-fit: cover;
            object-position: 30%;
        }
    }

    &__highlight-text {
        // typo
        color: $color-highlight;
        font-size: rem-calc(16);
        font-weight: 500;
        font-family: $font-primary;
        letter-spacing: rem-calc(1.5);
    }

    &__text {
        // typo
        line-height: rem-calc(24);
    }

    &__item-text {
        // typo
        text-transform: uppercase;
        letter-spacing: rem-calc(1.5);
    }

    &__sections {
        // layout
        margin-top: rem-calc(50);

        &:first-child {
            // layout
            margin-top: 0;
        }
    }

    &__list {
        // layout
        margin-top: rem-calc(20);
    }

    &__item {
        // layout
        margin-bottom: rem-calc(30);

        &:nth-child(odd),
        &:nth-child(even) {
            // layout
            width: 50%;
            display: inline-block;

            @include respond-below(smallMobile) {
                // layout
                width: 100%;
            }
        }
    }

    &__section {
        &--is-step {
            .about__item {
                // layout
                width: 100%;
                display: flex;
                padding-bottom: rem-calc(10);
                justify-content: space-between;

                // design
                border-bottom: rem-calc(1) solid $color-dark;
            }
        }
    }
}

