.about {
  // layout
  position: relative;

  @include breakpoint(tablet) {
    // layout
    padding: rem-calc(96 0);
  }

  &__container {
    // layout
    position: relative;
    column-gap: 20px;

    @include breakpoint(tablet) {
      // layout
      flex-direction: column-reverse;
    }
  }

  &__col-right {
    // layout
    padding: 15% 0;

    @include breakpoint(tablet) {
      // layout
      padding: 0;
    }
  }

  &__col-left {
    // layout
    top: 0;
    right: 0;
    height: calc(100svh - rem-calc(50));
    position: sticky;

    @include breakpoint(tablet) {
      // layout
      position: static;
      height: auto;
      margin-bottom: rem-calc(60);
    }
  }

  &__wrapper {
    // layout
    right: 0;
    top: 50%;
    position: absolute;

    // animation
    transform: translateY(-50%);

    @include breakpoint(tablet) {
      // layout
      position: static;

      // animation
      transform: translateY(0);
    }
  }

  &__title {
    // layout
    top: 50%;
    left: 0;
    position: absolute;

    // typo
    white-space: nowrap;

    // animatíon
    transform: translate(-25%,-50%);

    @include breakpoint(tablet) {
      // animatíon
      transform: translate(0%,-50%);
    }
  }

  &__subtitle {
    @include breakpoint(smallMobile) {
      // typo
      font-size: rem-calc(36);
    }
  }

  &__image-container {
    // layout
    top: 50%;
    right: 0;
    position: absolute;
  }

  &__image-wrap {
    // layout
    display: flex;
    justify-content: flex-end;
  }

  &__image {
    // layout
    width: 100%;
    max-width: rem-calc(530);
    object-fit: none;

    @include breakpoint(laptop) {
      // layout
      max-width: rem-calc(380);
    }

    @include breakpoint(tablet) {
      // layout
      max-height: rem-calc(225);
    }

    @include breakpoint(smallMobile) {
      // layout
      max-width: rem-calc(320);
      object-fit: cover;
      object-position: 30%;
    }
  }

  &__highlight-text {
    // typo
    color: $color-highlight;
    font-size: rem-calc(16);
    font-weight: 500;
    font-family: $font-primary;
    letter-spacing: rem-calc(1.5);
  }

  &__text {
    // typo
    line-height: rem-calc(24);
  }

  &__item-text {
    // typo
    text-transform: uppercase;
    letter-spacing: rem-calc(1.5);
  }

  &__sections {
    // layout
    margin-top: rem-calc(50);

    &:first-child {
      // layout
      margin-top: 0;
    }
  }

  &__list {
    // layout
    margin-top: rem-calc(20);
  }

  &__item {
    // layout
    margin-bottom: rem-calc(30);

    &:nth-child(odd),
    &:nth-child(even) {
      // layout
      width: 50%;
      display: inline-block;

      @include breakpoint(smallMobile) {
        // layout
        width: 100%;
      }
    }
  }

  &__section {
    &--is-step {
      .about__item {
        // layout
        width: 100%;
        display: flex;
        padding-bottom: rem-calc(10);
        justify-content: space-between;

        // design
        border-bottom: rem-calc(1) solid $color-dark;
      }
    }
  }
}
