.projects {
  // layout
  height: calc(100svh - rem-calc(300));
  margin: rem-calc(150 0);

  @include breakpoint(bigMobile) {
    // layout
    height: unset;
  }

  &__wrapper {
    // layout
    height: 100%;
    align-items: flex-start;
    flex-wrap: wrap;
    column-gap: rem-calc(32);
    row-gap: rem-calc(32);

    @include breakpoint(bigMobile) {
      // layout
      flex-direction: column;
    }
  }

  &__title {
    @include breakpoint(laptop) {
      // typo
      white-space: nowrap;
    }

    &--is-mobile {
      // layout
      display: none;

      @include breakpoint(laptop) {
        // layout
        width: 100%;
        display: block;
        align-self: flex-end;
      }
    }

    &--is-desktop {
      @include breakpoint(laptop) {
        // layout
        display: none;
      }
    }
  }

  &__col {
    // layout
    width: 50%;

    @include breakpoint(bigMobile) {
      // layout
      width: 100%;
    }
    
    &:first-of-type {
      width: calc(50% - rem-calc(32));

      @include breakpoint(bigMobile) {
        // layout
        width: 100%;
      }
    }
  }

  &__content,
  &__secondary-image,
  &__image,
  &__video {
    // layout
    display: none;

    &--is-active {
      // layout
      display: block;
    }
  }

  &__highlight-text {
    // layout
    display: block;
    margin-top: rem-calc(20);

    // typo
    color: $color-highlight;
    font-weight: 500;
    letter-spacing: rem-calc(1.5);
  }

  &__description {
    // layout
    display: block;
    margin-top: rem-calc(20);

    // typo
    font-weight: 500;
  }

  &__link {
    // layout
    display: block;
    z-index: 100;
    position: relative;
    margin-top: rem-calc(80);

    // typo
    color: $color-light;
    text-transform: uppercase;
    letter-spacing: rem-calc(1.5);
    text-decoration: none;

    // animation
    transition: all 0.5s ease;

    // event
    cursor: none;

    @include breakpoint(tablet) {
      // event
      cursor: pointer;
    }

    &::before {
      // layout
      width: rem-calc(100);
      height: rem-calc(1);
      display: inline-block;
      content: " ";
      margin-right: rem-calc(2);
      margin-bottom: rem-calc(4);

      // animation
      transition: all 0.5s ease;

      // design
      background-color: $color-light;
    }

    &:hover {
      // typo
      color: $color-highlight;

      &::before {
        // layout
        width: rem-calc(90);

        // design
        background-color: $color-highlight;
      }
    }
  }

  &__control-panel {
    // layout
    width: 83%;
    display: flex;
    z-index: 999;
    position: relative;
    margin-top: rem-calc(32);
    justify-content: space-between;

    @include breakpoint(bigMobile) {
      // layout
      width: 100%;
    }
  }

  &__showcase {
    // layout
    width: 100%;
    position: relative;
    overflow: hidden;
    margin-top: rem-calc(32);

    @include breakpoint(bigMobile) {
      // layout
      max-width: unset;
    }
  }

  &__showcase-transition {
    // layout
    height: 100%;
    position: absolute;

    // design
    background-color: $color-light;
  }

  &__secondary-image,
  &__video {
    // layout
    width: 100%;
    object-fit: cover;
  }

  &__image-wrap {
    // layout
    width: 100%;
    position: relative;
    overflow: hidden;

    @include breakpoint(tablet) {
      // layout
      height: 100%;
      max-height: rem-calc(850);
    }
  }

  &__image {
    // layout
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;

    @include breakpoint(tablet) {
      // layout
      max-height: rem-calc(850);
    }

    @include breakpoint(bigMobile) {
      // layout
      position: static;

      // animation
      transform: unset;
    }
  }

  &__controller {
    // layout
    padding: 0;

    // typo
    color: $color-light;
    text-transform: uppercase;
    letter-spacing: rem-calc(1.5);

    // design
    border: none;
    outline: 0;
    background-color: transparent;

    // event
    cursor: none;

    // animation
    transition: color 0.5s ease;

    @include breakpoint(tablet) {
      // event
      cursor: pointer;
    }

    &:hover {
      // typo
      color: $color-highlight;
    }
  }

  &__image-transition {
    // layout
    height: 100%;
    position: absolute;

    // design
    background-color: $color-highlight;
  }
}
