.navigation {
  @include breakpoint(tablet) {
    // layout
    left: rem-calc(-30);
    width: calc(100% + rem-calc(60));
    height: 100svh;
    position: absolute;

    // design
    opacity: 0;
    visibility: hidden;

    // animation
    transition: all 1s ease;

    &--is-open {
      // layout
      z-index: -99;

      // design
      opacity: 1;
      visibility: visible;

      // animation
      transition: opacity 0.5s ease;
    }
  }

  @include breakpoint(smallMobile) {
    // layout
    height: calc(100svh + rem-calc(10));
  }

  &__list {
    // layout
    display: flex;
    flex-direction: column;
    row-gap: rem-calc(32);

    @include breakpoint(tablet) {
      // layout
      height: 100%;
      align-items: center;
      flex-direction: column;
      justify-content: center;
      row-gap: rem-calc(76);
    }
  }

  &__item {
    // layout
    overflow: hidden;

    // typo
    text-align: right;

    @include breakpoint(tablet) {
      // layout
      padding: rem-calc(0 30);
    }
  }

  &__link {
    // layout
    z-index: 1;
    position: relative;
    overflow-x: hidden;

    // typo
    color: $color-dark;
    font-size: rem-calc(16);
    text-transform: uppercase;
    letter-spacing: rem-calc(1.5);
    text-decoration: none;

    // event
    cursor: none;

    @include breakpoint(tablet) {
      // layout
      display: block;
      padding: rem-calc(0 30);

      // typo
      font-size: rem-calc(48);

      // animation
      transform: translateX(0);

      // event
      cursor: pointer;
    }

    &:hover {
      .navigation__highlight {
        // layout
        width: calc(100% + rem-calc(10));

        // animation
        transition: all 0.25s ease;

        @include breakpoint(tablet) {
          // layout
          width: calc(100% + rem-calc(60));
        }
      }
    }
  }

  &__highlight {
    // layout
    top: rem-calc(8.5);
    right: 0;
    width: 0;
    height: rem-calc(2);
    display: block;
    z-index: -1;
    position: absolute;

    // design
    background-color: $color-highlight;

    // animation
    transition: all 0.25s ease;
    transform-origin: right;

    @include breakpoint(tablet) {
      // layout
      top: rem-calc(23);
      right: 50%;
      height: rem-calc(10);

      // animation
      transform: translateX(50%);
    }
  }

  &__transition-text {
    // layout
    left: rem-calc(-10);
    width: calc(100% + rem-calc(10));
    height: 100%;
    z-index: 100;
    position: absolute;

    // design
    background-color: $color-highlight;
  }

  &__text {
    // design
    opacity: 0;
  }
}

.body--on-dark-mode {
  .navigation {
    &__link {
      // typo
      color: $color-light;
    }
  }
}
