.router-link-active {
  .navigation__highlight {
    // layout
    width: calc(100% + rem-calc(10));

    // animation
    transition: all 0.25s ease;

    @include breakpoint(tablet) {
      // layout
      width: calc(100% + rem-calc(60));
    }
  }
}
